= render "products/header"

.my-page
  .my-page__whole
    .my-page__whole__left-bar
      .my-page__whole__left-bar__side
        .my-page__whole__left-bar__side__top
          マイページメニュー
        .my-page__whole__left-bar__side__bottom
          = link_to "#", class: "list" do
            .my-page__whole__left-bar__side__bottom__all
              いいねした商品
      .my-page__whole__left-bar__side
        .my-page__whole__left-bar__side__top
          出品
        .my-page__whole__left-bar__side__bottom
          = link_to "#", class: "list" do
            .my-page__whole__left-bar__side__bottom__all
              商品を出品する
            .my-page__whole__left-bar__side__bottom__all-b
              出品した商品
      .my-page__whole__left-bar__side
        .my-page__whole__left-bar__side__top
          購入
        .my-page__whole__left-bar__side__bottom
          = link_to "#", class: "list" do
            .my-page__whole__left-bar__side__bottom__all
              購入した商品
      .my-page__whole__left-bar__side
        .my-page__whole__left-bar__side__top
          クレジットカード
        .my-page__whole__left-bar__side__bottom
          = link_to card_path, class: "list" do
            .my-page__whole__left-bar__side__bottom__all
              確認/変更
            -# .my-page__whole__left-bar__side__bottom__all-b
            -#   削除
      .my-page__whole__left-bar__side
        .my-page__whole__left-bar__side__top
          その他
        .my-page__whole__left-bar__side__bottom
          = link_to "#", class: "list" do
            .my-page__whole__left-bar__side__bottom__all
              設定
    .my-page__whole__right-bar
      .my-page__whole__right-bar__title
        さんのマイページ
      .my-page__whole__right-bar__side
        .my-page__whole__right-bar__side__top
          現在売っている商品
        .my-page__whole__right-bar__side__bottom
          .my-page__whole__right-bar__side__bottom__down__list__individual
            .my-page__whole__right-bar__side__bottom__down__list__individual__whole
              .my-page__whole__right-bar__side__bottom__down__list__individual__whole__img
              .my-page__whole__right-bar__side__bottom__down__list__individual__whole__title
              .my-page__whole__right-bar__side__bottom__down__list__individual__whole__price

= render "products/footer"