= render 'devise/header'
.container-outer
  .container-main
    .container-main__register
      %p.container-main__register--text
        アカウントをお持ちでない方はこちら
      = link_to new_user_registration_path ,class:'container-main__register--btn linkWhite' do
        新規会員登録
    .container-main__0auth
      %button.container-main__0auth--facebook.linkWhite
        = icon('fab','facebook-f',class:'container-main__0auth--facebook--icon')
        %span<>
        Facebookでログイン
      %button.container-main__0auth--google.linkBlack
        = icon('fab','google',class:'container-main__0auth--google--icon')
        %span<>
        Googleでログイン
    .container-main__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field.container-main__form--email
          = f.email_field :email, autofocus: false, autocomplete: "email",placeholder: 'メールアドレス'
        .field.container-main__form--password
          %br/
          = f.password_field :password, autocomplete: "current-password",placeholder: 'パスワード'
        .actions
          = f.submit "ログイン" ,class:'container-main__form__loginbtn linkWhite'
      = render "devise/shared/links"
      = link_to '#',class:'linkBlue' do
        パスワードをお忘れの方
= render 'devise/footer'