.footer
  .footerContents__low
    .footerContent
      %div
        FURIMAについて
      %div
        = link_to "#", class: "linkWhite" do
          会社概要（運営会社）
      %div
        = link_to "#", class: "linkWhite" do
          プライバシーポリシー
      %div
        = link_to "#", class: "linkWhite" do
          FURIMA利用規約
      %div
        = link_to "#", class: "linkWhite" do
          ポイントに関する特約
    .footerContent
      %div
        FURIMAを見る
      %div
        = link_to "#", class: "linkWhite" do
          カテゴリー一覧
      %div
        = link_to "#", class: "linkWhite" do
          ブランド一覧
    .footerContent
      %div
        ヘルプ＆ガイド
      %div
        = link_to "#", class: "linkWhite" do
          FURIMAガイド
      %div
        = link_to "#", class: "linkWhite" do
          FURIMAロゴ利用ガイドライン
      %div
        = link_to "#", class: "linkWhite" do
          お知らせ
  = link_to "#", class: "linkWhite" do
    .footerImage
  %p
    © FURIMA