= render "devise/header"
.main-screen
  .main-screen__wrap
    .main-screen__wrap__box
      .main-screen__wrap__box--name
        = @product.name
      .main-screen__wrap__box--img
        .main-screen__wrap__box--img--content
          - @product.images.each do |image|
            = image_tag image.image.url
      .main-screen__wrap__box--price
        = @product.price
      .main-screen__wrap__box--subprice
        (税込) 送料込み
      - if user_signed_in? && current_user.id != @product.saler.id 
        = link_to purchase_product_url, class: 'link' do
          .main-screen__wrap__box--purchase
            購入確認ページへ移動
      .main-screen__wrap__box--comment
        = @product.explanation
      .main-screen__wrap__box--wrap
        .main-screen__wrap__box--wrap__record
          .main-screen__wrap__box--wrap__record__left
            出品者
          .main-screen__wrap__box--wrap__record__right
            = @product.saler.nikname
        .main-screen__wrap__box--wrap__record
          .main-screen__wrap__box--wrap__record__left
            カテゴリー
          .main-screen__wrap__box--wrap__record__right
            = link_to  "#", class: 'link' do
              = @product.category.parent.parent.name
              %br/
            = link_to  "#", class: 'link' do
              = @product.category.parent.name
              %br/
            = link_to  "#", class: 'link' do
              = @product.category.name
        .main-screen__wrap__box--wrap__record
          .main-screen__wrap__box--wrap__record__left
            ブランド
          .main-screen__wrap__box--wrap__record__right
            = @product.brand
        .main-screen__wrap__box--wrap__record
          .main-screen__wrap__box--wrap__record__left
            商品の状態
          .main-screen__wrap__box--wrap__record__right
            = @product.status
        .main-screen__wrap__box--wrap__record
          .main-screen__wrap__box--wrap__record__left
            発送元の地域
          .main-screen__wrap__box--wrap__record__right
            = @product.place
        .main-screen__wrap__box--wrap__record
          .main-screen__wrap__box--wrap__record__left
            発送日の目安
          .main-screen__wrap__box--wrap__record__right
            = @product.shipping_date
        
      .main-screen__wrap__box--option
        .main-screen__wrap__box--option__left
          = icon('fas', 'star')
          お気に入り０
        .main-screen__wrap__box--option__center
          - if @product.buyer_id.nil?
            - if user_signed_in? ==false
              = link_to "ログインすると購入できます", new_user_session_path, class: "linkBlue"
          - else
            売り切れました
        .main-screen__wrap__box--option__right
          = link_to  "#", class: 'link_flag' do 
            = icon('fas', 'flag')
            不適切な商品の通報
    - if user_signed_in? && current_user.id == @product.saler.id
      .main-screen__wrap__edit
        .main-screen__wrap__edit
          = link_to  edit_product_path(@product.id) do
            .main-screen__wrap__edit__bule
              商品の編集
          .main-screen__wrap__edit__or
            or
          = link_to  product_path(@product.id), method: :delete  do
            .main-screen__wrap__edit__gray
              この商品を削除する

    .main-screen__wrap__subbox
      = form_with local: true  do |f|
        = f.text_area :content, class: 'content'
        .main-screen__wrap__subbox--text
          相手のことを考え丁寧なコメントを心がけましょう。 
          %br不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %div.btn
          = icon('fa', 'comment', class: 'icon')
          = f.submit 'コメントする', class: "btn btnn"

    .main-screen__wrap__page
      .main-screen__wrap__page--left
        = link_to  "#", class: 'link' do 
          = icon('fas', 'chevron-left')
          前の商品
      .main-screen__wrap__page--right
        = link_to  "#", class: 'link' do 
          後ろの商品
          = icon('fas', 'chevron-right')
    .main-screen__wrap__bottom 
      = link_to "#", class: 'link' do 
        メンズをもっと見る
= render "devise/footer"